*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: purple;
}
h{
    font-family: 'Times New Roman', Times, serif;
    font-style:italic;
    font-display: block;
    font-weight: 100;
    background-color: aquamarine;
    text-align: center;
    text-decoration: underline;
    text-shadow: cyan;
    margin: left;
}
.images{
    width: 100%;
    background-color: greenyellow;
    display: grid;
    gap: 20px;
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d"
    "e"
    "f"
    "g"
    "h"
    "i"
    "j";
}
@media(min-width:1000px){
    .images{
        display: grid;
        grid-template-areas: 
        " a a b c"
        " a a d e"
        " f g j j"
        " h i j j";
        gap: 10px;
       padding: 10px;

    }
}
img{
     width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}
.image-a{
    grid-area: a;
}
.image-b{
    grid-area: b;
}
.image-c{
    grid-area: c;
}
.image-d{
    grid-area: d;
}
.image-e{
    grid-area: e;
}
.image-f{
    grid-area: f;
}
.image-g{
    grid-area: g;
}
.image-h{
    grid-area: h;
}
.image-i{
    grid-area: i;
}
.image-j{
    grid-area: j;
}
